body {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
}
li,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* header */
header {
    width: 100%;
    height: 44px;
    background-color: #333;
}
header ul li {
    float: left;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
}

.close {
    width: 8%;
    background: url(../images/close.png) no-repeat center center;
    background-size: 10px;
}
.logo {
    width: 10%;
    background: url(../images/logo.png) no-repeat center center;
    background-size: 30px;
}
.app {
    width: 57%;
}
.open {
    width: 25%;
    background-color: #f63515;
}
/* search */
.search {
    position: fixed;
    height: 44px;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
}
.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
    background: url(../images/s-btn.png) no-repeat center center;
    background-size: 20px auto;
}

.search-con {
    position: relative;
    height: 30px;
    margin: 7px 50px;
    background-color: #fff;
    border-radius: 15px;
}
.search-con::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    width: 20px;
    height: 15px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px;
}
.search-con::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 45px;
    width: 1px;
    height: 16px;
    background-color: #ccc;
}
.search-con span {
    display: block;
    position: absolute;
    top: 7px;
    left: 55px;
    width: 18px;
    height: 15px;
    background: url(../images/jd-sprites.png) no-repeat -84px 0;
    background-size: 200px auto;
}
.search-con input {
    position: absolute;
    top: 0;
    left: 80px;
    width: 79%;
    height: 90%;
    border: none;
    outline: none;
}
.search-con i {
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 20px;
    height: 15px;
    background: url(../images/jd-sprites.png) no-repeat -160px -95px;
    background-size: 200px auto;
}
.search-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    color: #fff;
    text-align: center;
    line-height: 44px;
}
/* focus */
.focus img {
    width: 100%;
    vertical-align: middle;
}
/* brand */
.brand {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.brand a {
    display: block;
    float: left;
    width: 33.33%;
}
.brand a img {
    width: 100%;
}
/* nav */
nav ul {
    margin-top: 20px;
}
nav ul li a {
    display: block;
    float: left;
    width: 20%;
    color: #333;
    text-align: center;
    text-decoration: none;
}
nav a img {
    width: 40px;
}
/* news */
.news a {
    float: left;
}
.news a img {
    width: 100%;
}
.news a:first-child {
    width: 50%;
}
.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
