body {
    min-width: 320px;
    max-width: 640px;
    width: 10rem;
    margin: 0 auto;
    width: 100%;
    /* font-family: '方正兰亭超细黑简体'; */
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 640px) {
    html {
        font-size: 64px !important;
    }
}
.welcome {
    overflow: hidden;
    width: 10rem;
    height: 17.75rem;
    text-align: center;
    margin: 0 auto;
    background: -webkit-linear-gradient(left top, #6dcab7 , #3979ca);
    
}
.welcome h2 {
    font-size: 1.40625rem;
    color: #fff;
    margin-top: 4.6875rem;
    margin-bottom: 1.875rem;
    text-shadow: .078125rem .078125rem .078125rem #333;
}
.login,
.password,
.btn {
    width: 7.34375rem;
    height: 1.25rem;
    line-height: 1.25rem;
    border: .015625rem solid #fff;
    margin: 0 auto .46875rem;
    font-size: .390625rem;
    text-align: left;
    border-radius: .625rem;
    padding-left: .46875rem;
    box-sizing: border-box;
}
input,
button {
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    text-shadow: .015625rem .015625rem .015625rem #333;
}
input::-webkit-input-placeholder {
    color: #fff;    
}
.btn {
    background-color: #56b3f5;
    text-align: center;
    border: none;
    padding-left: 0;
    font-size: .502812rem;
}
.welcome a {
    color: #fff;
    font-size: .390625rem;
    text-shadow: .015625rem .015625rem .015625rem #333;
}